<!DOCTYPE html>
<html lang="en">

<body>
  <!--PAGE SECTION-->
  <section id="page-administrator-header">
    <h1>Administrator section!</h1>
  </section>

  <!--SNEAKERS SECTION-->
  <section id="product1" class="section-p1">
    <div id="pro-container" class="pro-container">
      <!-- proizvodi ce se dinamicki ucitat ovdje pomocu Ajaxa -->
    </div>
  </section>

  <div class="CREATE">
    <button class="normal-add-button">Add</button> <!-- Add button -->
  </div>

  <div id="addModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="addForm">
        <label for="addProductName">Product Name:</label>
        <input type="text" id="addProductName" name="productName">

        <label for="addProductPrice">Price:</label>
        <input type="text" id="addProductPrice" name="productPrice">

        <label for="addProductDescription">Description:</label>
        <textarea id="addProductDescription" name="productDescription"></textarea>

        <label for="addProductImage1">Main Image URL:</label>
        <input type="text" id="addProductImage1" name="productImage1">

        <label for="addProductImage2">Additional Image URL:</label>
        <input type="text" id="addProductImage2" name="productImage2">

        <label for="addProductTags">Tags (new, sale):</label>
        <input type="text" id="addProductTags" name="productTags">

        <input type="submit" value="Add Product">
      </form>
    </div>
  </div>

  <script src="../utils/utils.js"></script>
  <script>
    function cleanInput(input) {
      return input.replace(/[\x00-\x1F\x7F-\x9F]/g, ""); // Uklanja kontrolne znakove
    }

    $(document).ready(function () {
      var addModal = $('#addModal');
      var addButton = $('.normal-add-button');
      var addCloseButton = $('.close');

      addButton.on('click', function () {
        addModal.show();
      });

      addCloseButton.on('click', function () {
        addModal.hide();
      });

      $('#addForm').submit(function (event) {
        event.preventDefault();

        var productData = {
          name: cleanInput($('#addProductName').val()),
          price: cleanInput($('#addProductPrice').val()),
          description: cleanInput($('#addProductDescription').val()),
          image: [
            cleanInput($('#addProductImage1').val()),
            cleanInput($('#addProductImage2').val())
          ].join(','),
          brand: 'NIKE',
          tags: cleanInput($('#addProductTags').val())
        };

        console.log(JSON.stringify(productData));

        var token = Utils.get_from_localstorage("user").token;
        if (!token) {
          alert("Authentication token is missing!");
          return;
        }

        $.ajax({
          url: '/backend/products',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(productData),
          beforeSend: function (xhr) {
            if (Utils.get_from_localstorage("user")) {
              xhr.setRequestHeader(
                "Authorization",
                Utils.get_from_localstorage("user").token
              );
            }
          },
          success: function (response) {
            alert('Product added successfully!');
            addModal.hide();
            loadProducts(); 
          },
          error: function (xhr) {
            alert('Error adding product: ' + xhr.responseText);
          }
        });
      });

      // Delegirani event listener za klik na .pro div
      $('#pro-container').on('click', '.pro', function () {
        var productId = $(this).data('id');
        localStorage.setItem("productId", productId);
        window.location.href = '#sproductAdministrator';
      });

      loadProducts();
    });

    // Funkcija za dohvat i prikaz proizvoda
    function loadProducts() {
      $.ajax({
        url: '/backend/products',
        type: 'GET',
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("user")).token
        },
        success: function (response) {
          var container = $('#pro-container');
          container.html('');

          response.data.forEach(function (product) {
            var productHtml = `
              <div class="pro ${product.is_active !== 1 ? 'disabled' : ''}" data-id="${product.id}">
              <img src="${product.image.split(',')[0]}" alt="">
              <div class="des">
               <span>${product.brand}</span>
               <h5>${product.name}</h5>
               <h4>$${product.price}</h4>
               <div class="tags">
                ${product.tags ? product.tags.split(',').map(tag => `<span class="tag">${tag.trim()}</span>`).join('') : ''}
               </div>
             </div>
          </div>
    `;

            container.append(productHtml);
          });
        },
        error: function (xhr, status, error) {
          console.error('Error fetching products:', error);
        }
      });
    }
  </script>

</body>

</html>