<!DOCTYPE html>
<html lang="en">

<body>

  <!--HERO SECTION-->

  <section id="hero">
    <h1>Welcome to Elles</h1>
    <h2>Your go-to for the latest <br>shoe trends</h2>
    <a href="#shop"><button class="normal">Look at the offer</button></a>
  </section>

  <!--FEATURED SNEAKERS SECTION-->

  <section id="product1" class="section-p1">
    <h2>Featured sneakers</h2>
    <p>New collection</p>
    <div class="pro-container" id="pro-container"></div>
  </section>

  <!--BANER PSECTIONAGE-->
  <section id="banner" class=".section-m1">
    <h2>The <span>most modern</span> sneakers on the market</h2>
    <a href="#shop"><button class="normal">Look at the offer</button></a>
  </section>
</body>

<!--NEWSLETTER SECTION-->
<section id="newsletter" class="section-p1 section-m1">
  <div class="newtext">
    <h4>Sign Up For Newsletters</h4>
    <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
  </div>

  <div class="form">
    <input type="text" placeholder="Your email address" id="emailInput">
    <button class="normal" onclick="subscribeNewsletter()">Sign Up</button>
    <span id="emailMessage" class="email-error-message"></span>
  </div>
</section>

<!--PORUKA ZA EMAIL-->
<script>
  function subscribeNewsletter() {
    var email = document.getElementById('emailInput').value;
    var messageElement = document.getElementById('emailMessage');

    if (email && email.includes('@')) {
      $.ajax({
        url: '/backend/subscribe', // Adjust the URL to where your subscribe endpoint is located
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ email: email }),
        success: function (response) {
          // Assume the response contains an object with a message property
          messageElement.textContent = response.message;
          messageElement.style.color = 'green';
        },
        error: function (xhr, status, error) {
          // Handle errors here
          messageElement.textContent = 'Subscription failed: ' + error;
          messageElement.style.color = 'red';
        }
      });
    } else {
      messageElement.textContent = 'Please enter a valid email!';
      messageElement.style.color = 'red';
    }
  }
</script>


</html>