<!DOCTYPE html>
<html lang="en">


<body>
  <!--PAGE SECTION-->

  <section id="page-header">
    <h1>Shop now!</h1>
    <p>Use the opportunity for smart shopping</p>
  </section>


  <!--SNEAKERS SECTION-->

  <section id="product1" class="section-p1">
    <!-- kontejner u koji ce se dinamicki ubacivati proizvodi -->
    <div id="pro-container" class="pro-container">
      <!-- proizvodi ce se dinamicki ucitat ovdje pomocu Ajaxa -->
    </div>
  </section>
</body>

<!--NEWSLETTER SECTION-->
<section id="newsletter" class="section-p1 section-m1">
  <div class="newtext">
    <h4>Sign Up For Newsletters</h4>
    <p>Get E-mail updates about our latest shop and <span>special offers</span>.</p>
  </div>

  <div class="form">
    <input type="text" placeholder="Your email address" id="emailInput">
    <button class="normal" onclick="subscribeNewsletter()">Sign Up</button>
    <span id="emailMessage" class="email-error-message"></span>
  </div>
</section>

<!--PORUKA ZA EMAIL-->
<script>
  function subscribeNewsletter() {
    var email = document.getElementById('emailInput').value;
    var messageElement = document.getElementById('emailMessage');

    if(email && email.includes('@')) {
      $.ajax({
        url: 'http://localhost:5501/backend/subscribe', // Adjust the URL to where your subscribe endpoint is located
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ email: email }),
        success: function(response) {
          // Assume the response contains an object with a message property
          messageElement.textContent = response.message;
          messageElement.style.color = 'green';
        },
        error: function(xhr, status, error) {
          // Handle errors here
          messageElement.textContent = 'Subscription failed: ' + error;
          messageElement.style.color = 'red';
        }
      });
    } else {
      messageElement.textContent = 'Please enter a valid email!';
      messageElement.style.color = 'red';
    }
  }
</script>


</html>